header {
    background-image: url(stars.jpg);
    color: white;
    text-align: center;
    width: 95%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2.5em;
    font-size-adjust: 6px;
}
footer {
    background-color: darkblue; 
    text-align: center;
    color: white;
    padding: 5px;
    width:100%;
    display: block;
}
main {
    float:right;
    width:68%;
    background-color: white;
    color: black;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    padding-left: 1em;
    padding-right: 1em;
    height: 35%;
}
#links {
    width:30%;
    text-align:left;
    text-decoration: none;
    color:white;
    background-color: #188a8b;
    float:left;
    text-decoration: none;
    padding-top: 2.5em;
    height: 35%;
    list-style: none;
}
#triple {
    display: block;
    padding: 2.5em;
    width: 95%;
    background-color: #b0d7e5;
}
.sample {
    display: inline;
    width: 30%;
    padding: 1.5em;
    float: left;
}
