header {
    background-image: url(stars.jpg);
    color: white;
    text-align: center;
    width: 95%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2.5%;
    font-size-adjust: 6px;
    margin:auto;
}
footer {
    background-color: darkblue; 
    text-align: center;
    color: white;
    padding: 5px;
    width:100%;
    display: block;
    float:left;
    margin:auto;
}
main {
    float: left;
    width:68%;
    background-color: white;
    color: black;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 1%;
    padding-right: 1%;
    height: 35%;
    display: block;
}
ul {
    text-decoration: none;
    color:white;
    list-style-type: none;
    height:35%;
    width:inherit;
    background-color: #188a8b;
}
#full {
    display:block;
    margin:auto;
}
#links {
    width:30%;
    background-color: #188a8b;
    padding-top: 2.5%;
    min-height: 35%;
    display: block;
    float:left;
}
#triple {
    display: block;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin: auto;
    width: 100%;
    background-color: #b0d7e5;
    height: 25%;
}
.sample {
    display: block;
    max-width: 30%;
    padding: 1.5%;
    float: left;
    background-color: #b0d7e5;
    max-height:25%;
}
